
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/22/5063ed23997c001714a0c0755252ca2c
*.index
*.fdt
.metadata/.plugins/org.eclipse.core.resources/.history/33/30fdb5ffeab1001711b3e03dbe2855a6
*.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/assignment-01-actual/.location
*.resources
*.launch
*.xml
*.ini
*.json
*.properties
*.fdx
*.fnm
*.frq
*.dat
*.txt
*.history
*.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.prefs
*.xmi
*.nrm
*.tii
*.tis
*.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.lock
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_b
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.log
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_13
